<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OrgMat</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/OrgMat.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/OrgMat.bootstrap-icons.scss" asp-append-version="true" />

</head>
<body>

    <header id="header" class="header fixed-top d-flex align-items-center d-print-none">
        <div class="d-flex align-items-center justify-content-between">
            ..
        </div>
        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">
                <partial name="_LoginPartial" />
            </ul>
        </nav>
    </header>

    <aside id="sidebar" class="sidebar">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">OrgMat</a>

        <ul class="sidebar-nav" id="sidebar-nav">
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Material" asp-action="Index"> Material </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Tipo" asp-action="Index"> Tipo </a>
            </li>

        </ul>
    </aside>

    <main id="main" class="main">
        <div class="container-fluid px-4">
            @RenderBody()
        </div>
    </main>
    

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - OrgMat - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

