<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OrgMat</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/OrgMat.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.css">


</head>
<body>

    <header id="header" class="header fixed-top d-flex align-items-center d-print-none" style="background-color:#27187e">
        <div class="d-flex align-items-center justify-content-between">
            <a class="navbar-brand" href="#"><img src="~/images/orgmat.png" alt="OrgMat Logo" width="160"></a>
        </div>
        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">
                <!--<partial name="_LoginPartial" /> -->
            </ul>
        </nav>
    </header>

    <aside id="sidebar" class="sidebar">
        <ul class="sidebar-nav" id="sidebar-nav">

            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Dashboard</a>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#listas_nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-card-checklist"></i><span>Listas</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="listas_nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                    <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Material" asp-action="Index">Materiais</a></li>
                    <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Tipo" asp-action="Index">Tipos</a></li>
                    <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Fornecedor" asp-action="Index">Fornecedor</a></li>

                </ul>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#cadastros_nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-file-earmark-plus"></i><span>Cadastros</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="cadastros_nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Material" asp-action="Cadastrar">Material</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Criticidade" asp-action="Cadastrar">Criticidade</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Setor" asp-action="Cadastrar">Setor</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Cliente" asp-action="Cadastrar">Cliente</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Local" asp-action="Cadastrar">Local</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Tipo" asp-action="Cadastrar">Tipo</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Fornecedor" asp-action="Cadastrar">Fornecedor</a></li>
                </ul>
            </li>

            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Manutencao" asp-action="Index">Manutenção</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="OC" asp-action="Index">Ordem de Compra</a>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#config_nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-gear"></i><span>Configuração</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="config_nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Movimentacao" asp-action="Cadastrar">Cadastrar Usuário</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Movimentacao" asp-action="Index">Usuários</a></li>
                </ul>
            </li>

           
        </ul>
    </aside>

    <main id="main" class="main">
        <div class="container-fluid px-4">
            @RenderBody()
        </div>
    </main>
    

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - OrgMat - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

