@model OrgMat.Models.TipoModel

@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4"> Tipo</h1>
</div>

<div class="row">
    <div class="col-lg-12">

        <div class="card">
            <div class="card-body">
                <a class="btn-primary" asp-area="" asp-controller="Tipo" asp-action="Cadastrar"> Cadastrar Tipo </a>
            </div>
        </div>

    </div>
</div>

