@model List<OrgMat.Models.TipoModel>
@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4"> Tipo</h1>
</div>

<div class="row">
    <div class="col-lg-12">

        <div class="card">
            <div class="card-body">
                <a class="btn-primary" asp-area="" asp-controller="Tipo" asp-action="Cadastrar"> Cadastrar Tipo </a>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Tipo</th>
                            <th scope="col">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.id_tipo</td>
                                <td>@item.tipo</td>
                                <td>
                                    <a class="btn btn-primary" href="Tipo/Visualizar/@item.id_tipo"><i class="bi bi-eye"></i></a>
                                    <a class="btn btn-success" href="Tipo/Atualizar/@item.id_tipo"><i class="bi bi-eye"></i></a>
                                    <a class="btn btn-danger" href="Tipo/Deletar/@item.id_tipo"><i class="bi bi-eye"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>

    </div>
</div>

